<div class="box-body">
  <div class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered table-striped dataTable"  role="grid"
               aria-describedby="example1_info">
          <thead>
          <tr role="row">
            <th class="sorting" tabindex="0" style="text-align: center" >
              转向
            </th>
            <th class="sorting_asc" tabindex="0"
                style="text-align: center" >
              车速<small>(km/h)</small>
            </th>
            <th class="sorting" tabindex="0" style="text-align: center" >
              转弯半径<small>(m)</small>
            </th>
            <th class="sorting" tabindex="0" style="text-align: center" >
              要求
            </th>
            <th class="sorting" tabindex="0" style="text-align: center" >
              结果
            </th>
          </tr>
          </thead>
          <tbody>
          <tr role="row" class="odd">
            <td style="text-align: center">右转</td>
            <td style="text-align: center">-</td>
            <td style="text-align: center">-</td>
            <td style="text-align: center">-</td>
            <td style="text-align: center">-</td>
          </tr>
          <tr role="row" class="even">
            <td style="text-align: center">左转</td>
            <td style="text-align: center">-</td>
            <td style="text-align: center">-</td>
            <td style="text-align: center">-</td>
            <td style="text-align: center">-</td>
          </tr>
          <tr role="row" class="odd">
            <td style="text-align: center">右转</td>
            <td style="text-align: center">-</td>
            <td style="text-align: center">-</td>
            <td style="text-align: center">-</td>
            <td style="text-align: center">-</td>
          </tr>
          <tr role="row" class="even">
            <td style="text-align: center">左转</td>
            <td style="text-align: center">-</td>
            <td style="text-align: center">-</td>
            <td style="text-align: center">-</td>
            <td style="text-align: center">-</td>
          </tr>
          <tr role="row" class="odd">
            <td style="text-align: center">/</td>
            <td style="text-align: center">-</td>
            <td style="text-align: center">/</td>
            <td style="text-align: center">-</td>
            <td style="text-align: center">-</td>
          </tr>

          </tbody>

        </table>
        <!--<button (click)="editing = !editing">EDIT</button>-->
      </div>
    </div>
  </div>
</div>
