<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered table-striped dataTable" role="grid"
           aria-describedby="example1_info">
      <thead>
      <tr role="row">
        <th class="sorting" tabindex="0" >
          序号
        </th>
        <th class="sorting_asc" tabindex="0">
          要求
        </th>
        <th class="sorting" tabindex="0">
          结果
        </th>
      </tr>
      </thead>
      <tbody>
      <tr role="row" class="odd">
        <td>1</td>
        <td>高压总线与外部高压电源断开连接状态时的电击防护和电气安全一般要求</td>
        <td>符合</td>
      </tr>
      <tr role="row" class="even">
        <td>2</td>
        <td>特殊标识要求</td>
        <td>符合</td>
      </tr>
      <tr role="row" class="odd">
        <td>3</td>
        <td>带电部件间接接触防护要求</td>
        <td>符合</td>
      </tr>
      <tr role="row" class="even">
        <td>4</td>
        <td>绝缘电阻要求</td>
        <td>符合</td>
      </tr>
      <tr role="row" class="even">
        <td>5</td>
        <td>使用安全要求</td>
        <td>符合</td>
      </tr>
      <tr role="row" class="even">
        <td>6</td>
        <td>低功率驾驶要求</td>
        <td>符合</td>
      </tr>
      <tr role="row" class="even">
        <td>7</td>
        <td>倒车行驶要求</td>
        <td>不适用</td>
      </tr>
      <tr role="row" class="even">
        <td>8</td>
        <td>氢气排放确定</td>
        <td>不适用</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

