
<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered table-striped dataTable" role="grid"
           aria-describedby="example1_info">
      <thead>
      <tr role="row">
        <th class="sorting" tabindex="0" >
          项目
        </th>
        <th class="sorting_asc" tabindex="0">
          要求
        </th>
        <th class="sorting" tabindex="0">
          结果
        </th>
      </tr>
      </thead>
      <tbody>
      <tr role="row" class="odd">
        <td rowspan="5">区域一</td>
        <td>头部模型在区域一按任何方向移动所能接触到的部件边缘(下文<br>提到的除外)至少应有 3.2mm 的圆角。</td>
        <td>符合</td>
      </tr>
      <tr role="row" class="even">
        <td>位于仪表板上分界线以上的可接触边缘，不管其为仪表板的组成<br>部分或直接安装在仪表板上，都应进行倒圆处理且曲率半径应至<br>少为 2.5mm。</td>
        <td>符合</td>
      </tr>
      <tr role="row" class="odd">
        <td>被方向盘外边缘向外延伸 127mm 形成的圆在水平方向上向前形<br>成的投影所覆盖的部件免除评估。只免除转向机构在所有使用位<br>置时，覆盖在该区域内的部件。</td>
        <td>-</td>
      </tr>
      <tr role="row" class="even">
        <td>可被充气后安全气囊(发生碰撞)所覆盖的可接触边缘以及通风<br>
          口导气片和开口处能被接触的边缘，应至少进行钝化处理。</td>
        <td>-</td>
      </tr>
      <tr role="row" class="even">
        <td>转向机构上的可接触边缘，应进行倒圆处理且曲率半径应至少为<br>2.5mm。</td>
        <td>-</td>
      </tr>
      <tr role="row" class="odd">
        <td>区域二</td>
        <td>在该区域内，膝部模型测试仪器应以水平和前向位置，以任何给<br>
          定的起始位置进行移动，仪器的 X 轴方向可以在其允许的触及范<br>
          围内任意变化。所有能被接触的边缘，下述部分除外，都应进行<br>
          倒圆处理且曲率半径应至少为 3.2mm。与仪器背面接触的部件无<br>需考虑。操作踏板及其固定装置无需考虑。</td>
        <td>符合</td>
      </tr>
      <tr role="row" class="odd">
        <td rowspan="2">区域三</td>
        <td>头部模型在区域三按任何方向移动所能接触到的部件边缘(下文<br>提到的除外)至少应有 3.2mm 的圆角。</td>
        <td>符合</td>
      </tr>
      <tr role="row" class="odd">
        <td>座椅靠背后部符合 ECE R17 对 M1 类车的相关要求。</td>
        <td>符合</td>
      </tr>
      <tr role="row" class="odd">
        <td>车门</td>
        <td>施 2000N 力(至少保持 0.2s)后，将车门固定在关闭位置的一个<br> 或多个装置不应失效、松脱或完全开裂;并且在卸载后，车门仍<br> 应保持在关闭位置。<br>
          施力装置平面直径不应超过 50mm。<br>
          施力位置:<br>
          1. 车门中心<br>
          2. 通过 R 点的车辆横向平面与车门相交且高度在 R 点至 R 点以上<br>
          500mm 范围内的点。</td>
        <td>符合</td>
      </tbody>
    </table>
  </div>
</div>
