<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered dataTable" role="grid"
           aria-describedby="example1_info">
      <thead>
       <tr role="row">
         <th colspan="6" class="text-center">试验环境</th>
       </tr>
      </thead>
      <tbody>
      <tr role="row" class="text-center">
        <td>环境温度</td>
        <td>22℃</td>
        <td>湿度</td>
        <td>50%</td>
        <td>大气压</td>
        <td>101.2 kPa</td>
      </tr>
      </tbody>
    </table>
    <table class="table table-bordered dataTable" role="grid"
           aria-describedby="example1_info">
      <tbody>
      <tr role="row" >
        <td colspan="4" class="text-center"><b>电池放电</b></td>
      </tr>
      <tr role="row" class="text-center">
        <td>开始时间</td>
        <td>22:16</td>
        <td>结束时间</td>
        <td>23:23</td>
      </tr>
      <tr role="row" >
        <td colspan="4" class="text-center"><b>测试前充电</b></td>
      </tr>
      <tr role="row" class="text-center">
        <td>开始时间</td>
        <td>23:30</td>
        <td>结束时间</td>
        <td>08:22</td>
      </tr>
      <tr role="row" >
        <td colspan="4" class="text-center"><b>测试</b></td>
      </tr>
      <tr role="row" class="text-center">
        <td>测试循环</td>
        <td colspan="3">ECE R47</td>
      </tr>
      <tr role="row" class="text-center">
        <td>开始时间</td>
        <td>08:30</td>
        <td>结束时间</td>
        <td>11:44</td>
      </tr>
      <tr role="row" class="text-center">
        <td><b>续驶里程</b></td>
        <td colspan="3">77 km</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

