<div class="box-body">
  <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row">
      <div class="col-sm-12">
        <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
               aria-describedby="example1_info">
          <thead>
          <tr role="row">
            <th class="sorting" tabindex="0" style="width: 100px;" rowspan="2">
              NO.
            </th>
            <th class="sorting_asc" tabindex="0"
                style="width: 180px;text-align: center" colspan="2">
              轻便摩托车
            </th>
            <th class="sorting" tabindex="0" style="width: 180px;text-align: center" colspan="2">
              摩托车（<= 7kW）
            </th>
            <th class="sorting" tabindex="0" style="width: 180px;text-align: center" colspan="2">
              摩托车（> 7kW）
            </th>
          </tr>
          <tr role="row">
            <th class="sorting_asc" tabindex="0"
                style="width: 180px;text-align: center" colspan="2">
              75 ~ 112 dB(A)
            </th>
            <th class="sorting" tabindex="0" style="width: 180px;text-align: center" colspan="2">
              83 ~ 112 dB(A)
            </th>
            <th class="sorting" tabindex="0" style="width: 180px;text-align: center" colspan="2">
              93 ~ 112 dB(A)
            </th>
          </tr>
          </thead>
          <tbody>
          <tr role="row" class="odd">
            <td class="">1</td>
            <td class="sorting_1">36.1</td>
            <td>34.7</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr role="row" class="even">
            <td class="">2</td>
            <td class="sorting_1"> 36.0</td>
            <td>34.8</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr role="row" class="odd">
            <td class="">3</td>
            <td class="sorting_1">36.0</td>
            <td>34.8</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr role="row" class="even">
            <td class="">结果</td>
            <td class="sorting_1" colspan="2">OK</td>
            <td class="sorting_1" colspan="2">-</td>
            <td colspan="2">-</td>
          </tr>

          </tbody>

        </table>
      </div>
    </div>

  </div>
</div>
