<div class="row">
  <div class="col-sm-12">
    <table  class="table table-bordered table-striped dataTable" role="grid"
           aria-describedby="example1_info">
      <thead>
      <tr role="row">
        <th class="sorting" tabindex="0" style="text-align: center">

        </th>
        <th class="sorting_asc" tabindex="0"
            style="text-align: center;"
        >整备质量（kg）
        </th>
        <th class="sorting" tabindex="0" style="text-align: center">
          实际质量（kg）
        </th>
        <th class="sorting" tabindex="0" style="text-align: center">
          最大允许质量（kg）
        </th>
      </tr>
      </thead>
      <tbody>
      <tr role="row" class="odd">
        <td class="">前轮</td>
        <td>34.7</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr role="row" class="even">
        <td class="">后轮</td>
        <td>34.8</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr role="row" class="odd">
        <td class="">合计</td>
        <td>34.8</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td colspan="4">
          ***
          <i><small>注：整备质量包含90%的燃油，对于电动车不包含电池</small></i>
        </td>
      </tr>
      </tbody>
    </table>
    <table  class="table table-bordered table-striped dataTable" role="grid"
           aria-describedby="example1_info">
      <thead>
      <tr role="row">
        <th class="sorting_asc" tabindex="0" style="text-align: center;">
          长（mm）
        </th>
        <th class="sorting" tabindex="0" style="text-align: center">
          宽（mm）
        </th>
        <th class="sorting" tabindex="0" style="text-align: center">
          高（mm）
        </th>
        <th class="sorting" tabindex="0" style="text-align: center">
          离地间隙（mm）
        </th>
        <th class="sorting" tabindex="0" style="text-align: center">
          R点高度（mm）
        </th>
      </tr>
      </thead>
      <tbody>
      <tr role="row" class="odd">
        <td class="">-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      </tbody>
    </table>
    <table  class="table table-bordered table-striped dataTable" role="grid"
            aria-describedby="example1_info">
      <thead>
      <tr role="row">
        <th class="sorting_asc" tabindex="0" style="text-align: center;">
          轴距L（mm）
        </th>
        <th class="sorting" tabindex="0" style="text-align: center">
          前轮距t<sub>1</sub>（mm）
        </th>
        <th class="sorting" tabindex="0" style="text-align: center">
          前轮距t<sub>2</sub>（mm）
        </th>
        <th class="sorting" tabindex="0" style="text-align: center">
          质心距前轴距离L<sub>CG</sub>（mm）
        </th>
        <th class="sorting" tabindex="0" style="text-align: center">
          质心高度H<sub>CG</sub>（mm）
        </th>
      </tr>
      </thead>
      <tbody>
      <tr role="row" class="odd">
        <td class="">-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      </tbody>
    </table>
    <table  class="table table-bordered table-striped dataTable" role="grid"
            aria-describedby="example1_info">
      <thead >
      <tr role="row">
        <th class="sorting_asc" tabindex="0" >
          序号
        </th>
        <th class="sorting" tabindex="0" >
          项目
        </th>
        <th class="sorting" tabindex="0" colspan="2" >
          要求(L6e-A/L7e-A/L7e-B)
        </th>
        <th class="sorting" tabindex="0" >
          结果
        </th>
      </tr>
      </thead>
      <tbody>
      <tr role="row" class="odd text-center">
        <td rowspan="2" >1</td>
        <td rowspan="2" >侧倾测试</td>
        <td rowspan="2">至少一只上坡侧的支撑轮<br> 胎与坡面保持接触</td>
        <td>驾驶员加乘客 28°<br>(左倾和 右倾)</td>
        <td>-</td>
      </tr>
      <tr role="row" class="odd text-center">
        <td>满载 20°<br>(左倾和 右倾)</td>
        <td>-</td>
      </tr>
      <tr role="row" class="even text-center">
        <td >2</td>
        <td >静态稳定<br>系数 K<sub>st</sub></td>
        <td ><img src="assets/imgs/chart.png"></td>
        <td >K<sub>st</sub> ≥ 1.0 <br> K<sub>st</sub> ≥ 0.7 (L7e-B1)</td>
        <td>符合</td>
      </tr>
      <tr role="row" class="odd text-center">
        <td >3</td>
        <td >俯仰<br>稳定性</td>
        <td >至少一只上坡侧的支撑轮<br>
          胎与坡面保持接触</td>
        <td>满载 25°(俯仰)</td>
        <td>符合</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

