<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#noise" data-toggle="tab" aria-expanded="true">噪声</a></li>
    <li class=""><a href="#emmision" data-toggle="tab" aria-expanded="false">排放</a></li>

  </ul>
  <div class="tab-content">
    <!-- /.tab-pane -->
    <div class="tab-pane active" id="noise">
      <!-- The speedometer -->
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Noise ---<i>EU NO.3-2014 ANNEX XIV</i></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <app-noise></app-noise>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane" id="emmision">
      <!-- The horn -->
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Reg. (EU) No.44/2014 Annex XIII</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div  class="dataTables_wrapper form-inline dt-bootstrap">
            <app-hand-foot></app-hand-foot>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.tab-pane -->

  </div>
  <!-- /.tab-content -->
</div>
