<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered table-striped dataTable"  role="grid"
           aria-describedby="example1_info">
      <thead>
      <tr role="row">
        <th class="sorting" tabindex="0">
          项目
        </th>
        <th class="sorting_asc" tabindex="0">
          要求
        </th>
        <th class="sorting" tabindex="0" >
          结果
        </th>
      </tr>
      </thead>
      <tbody>
      <tr role="row" class="odd text-center">
        <td >尺寸</td>
        <td >L1e /L2e/L6e 宽 100mm×高 175mm<br> 或宽 145mm×高 125mm<br>
          L3e /4e/L5e/L7e 宽 280mm×高 200mm</td>
        <td >符合</td>
      </tr>
      <tr role="row" class="even text-center">
        <td >离地高度</td>
        <td >
          下边缘离地高度大于 0.2m<br> 上边缘离地高度小于 1.5m
        </td>
        <td >符合</td>
      </tr>
      <tr role="row" class="odd text-center">
        <td >倾斜角</td>
        <td >
          -15° 至 30°
        </td>
        <td >符合</td>
      </tr>
      <tr role="row" class="even text-center">
        <td >可见度</td>
        <td >
          侧向30°无遮挡<br>向上15°无遮挡
        </td>
        <td >符合</td>
      </tr>
      </tbody>

    </table>
    <!--<button (click)="editing = true">EDIT</button>-->
  </div>
</div>
