<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered table-striped dataTable"  role="grid"
           aria-describedby="example1_info">
      <thead>
      <tr role="row">
        <th class="sorting" tabindex="0" rowspan="2" >
          倾斜方向
        </th>
        <th class="sorting_asc" tabindex="0" colspan="2">
          侧支撑
        </th>
        <th class="sorting" tabindex="0" colspan="2" >
          中撑
        </th>
      </tr>
      <tr role="row">
        <th class="sorting" tabindex="0" >
          mopeds
        </th>
        <th class="sorting_asc" tabindex="0">
          motorcycles
        </th>
        <th class="sorting" tabindex="0"  >
          mopeds
        </th>
        <th class="sorting" tabindex="0"  >
          motorcycles
        </th>
      </tr>
      </thead>
      <tbody>
      <tr role="row" class="odd text-center">
        <td >左向侧倾</td>
        <td >-</td>
        <td >-</td>
        <td >-</td>
        <td >-</td>
      </tr>
      <tr role="row" class="even text-center">
        <td >右向侧倾</td>
        <td >-</td>
        <td >-</td>
        <td >-</td>
        <td >-</td>
      </tr>
      <tr role="row" class="odd text-center">
        <td >前俯</td>
        <td >-</td>
        <td >-</td>
        <td >-</td>
        <td >-</td>
      </tr>
      <tr role="row" class="even text-center">
        <td >后仰</td>
        <td >-</td>
        <td >-</td>
        <td >-</td>
        <td >-</td>
      </tr>
      </tbody>

    </table>
    <!--<button (click)="editing = true">EDIT</button>-->
  </div>
</div>
