<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">最高车速数据记录</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->

  <div class="box-body">
    <form [formGroup]="formModel1" class="form-horizontal" >
      <div>
        <div class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            向左
          </a>
          <a (click)="save1()" class="btn btn-success pull-right">SAVE</a>
          <ul class="dropdown-menu" style="background: #ffdd84">
            <!-- The user image in the menu -->

            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <p><strong>试验描述</strong></p>
                  <p>以再高车速行驶200m，记录行驶时间</p>
                  <p><strong>判定条件</strong></p>
                  <p>与申报值比较</p>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">

            </li>
          </ul>
        </div>
        <div class="form-group">
          <label  class="col-sm-2 control-label">时间(s)</label>
          <div class="col-sm-2">
            <input formControlName="vDisplay1" type="text" class="form-control" id="vDisplay1" placeholder="0.0">
          </div>
          <label  class="col-sm-2 control-label">距离(m)</label>
          <div class="col-sm-2">
            <input formControlName="vTrue1" type="text" class="form-control" id="vTrue1" placeholder="0.0">
          </div>
        </div>
      </div>
    </form>
    <hr>
    <form [formGroup]="formModel2" class="form-horizontal" >
      <div >
        <div class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            向右
          </a>
          <a (click)="save2()" class="btn btn-success pull-right">SAVE</a>
          <ul class="dropdown-menu" style="background: #ffdd84">
            <!-- The user image in the menu -->
            <li class="user-header">

            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <p><strong>试验描述</strong></p>
                  <p>以再高车速行驶200m，记录行驶时间</p>
                  <p><strong>判定条件</strong></p>
                  <p>与申报值比较</p>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">

            </li>
          </ul>
        </div>
        <div class="form-group">
          <label  class="col-sm-2 control-label">时间(s)</label>
          <div class="col-sm-2">
            <input formControlName="vDisplay2" type="text" class="form-control" id="vDisplay2" placeholder="0.0">
          </div>
          <label  class="col-sm-2 control-label">距离(m)</label>
          <div class="col-sm-2">
            <input formControlName="vTrue2" type="text" class="form-control" id="vTrue2" placeholder="0.0">
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- /.box-body -->
  <div class="box-footer">
    <!--<button (click)="cancel()" type="submit" class="btn btn-default">取消</button>-->
    <!--<button (click)="save()"  type="submit" class="btn btn-info pull-right">保存</button>-->
  </div>
  <!-- /.box-footer -->

</div>



