
<!--<div>-->
  <!--&lt;!&ndash;<app-login></app-login>&ndash;&gt;-->
  <!--<div class="box">-->
    <!---->

  <!--</div>-->

<!--</div>-->

<div class="row">
  <div class="col-md-12">

    <!-- Profile Image -->
    <div class="box box-primary">
      <div class="box-body box-profile row">
        <div class="col-md-8">
          <img style="width:100%;" src="assets/imgs/motorcycle-stabiliy-control.jpg">
        </div>
        <div class="col-md-4">
          <img style="width: 200px;margin-bottom: 30px;margin-top: 30px" src="assets/imgs/logo2.png">
          <p style="color: dimgray;font-size: 14px;margin-right: 3%;line-height: 25px">该试验管理系统主要用于欧洲框架认证法规
            (EU) Regulation No.168-2013规定的车型的试验管理。其中包括车辆信息的记录、试验项目数据的记录、人员管理等模块。该系统旨在减少试验过程中的冗余环节
            ，提高试验效率。
            </p>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <!-- /.box -->
  </div>

</div>
