<div class="row">
  <div class="col-sm-12">
    <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
           aria-describedby="example1_info">
      <thead>
      <tr role="row">
        <th class="sorting" tabindex="0">
          项目
        </th>
        <th class="sorting_asc" tabindex="0">
          要求
        </th>
        <th class="sorting" tabindex="0">
          结果
        </th>
      </tr>
      </thead>
      <tbody>
      <tr role="row" class="odd text-center">
        <td class="">扶手</td>
        <td >承受 2000N 的静态拉力</td>
        <td>符合</td>
      </tr>
      <tr role="row" class="even text-center">
        <td class="">脚踏</td>
        <td > 承受 1700N 的静态压力<br>
          长 300mm*宽 110mm 的空间</td>
        <td>符合</td>
      </tr>
      </tbody>

    </table>
  </div>
</div>
