<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered table-striped dataTable" role="grid"
           aria-describedby="example1_info">
      <thead>
      <tr role="row">
        <th class="sorting" tabindex="0" >
          项目
        </th>
        <th class="sorting_asc" tabindex="0">
          要求
        </th>
        <th class="sorting" tabindex="0">
          结果
        </th>
      </tr>
      </thead>
      <tbody>
      <tr role="row" class="odd">
        <td>1</td>
        <td>锁止角度大于 20°</td>
        <td>-</td>
      </tr>
      <tr role="row" class="even">
        <td>2</td>
        <td>车头锁止后沿方向柱施加 200Nm 的扭矩不破坏</td>
        <td>-</td>
      </tr>
      <tr role="row" class="odd">
        <td>3</td>
        <td>给锁芯施加 2.45Nm 的扭矩锁芯不转动</td>
        <td>-</td>
      </tr>
      <tr role="row" class="even">
        <td>4</td>
        <td>方向盘耐久左右各 2500 次后，仍满足 200Nm 的扭矩要求</td>
        <td>-</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
